.breaking_news{
  border-bottom: 1px solid rgba(172,172,172,0.2);
  padding-bottom: 4.5rem;
  margin-bottom: 4.5rem;
  figure{
    img{
      // height:55rem;
      object-fit: contain;
    }
  }
  .breaking__title{
    font-size: 6.5rem;
    font-weight: 600;
    color:$global_color;
    line-height: 1.1;
    @include global-transition();
    &:hover{
      color:$global_color1;
    }
  }
}
.breaking__col{
  max-width: 100rem;
  margin:0 auto;
  .breaking__shortInfos{
    margin: 1rem 0;
    font-size: 2.4rem;
  }
}
.post__infos__flex {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 600;
}
i{
  vertical-align: middle;
}
.head__desc{
  font-size: 1.8rem;
  margin-top: 2rem;
}
 .theme__badge {
  background: $global_color1;
  font-size: 1.7rem;
  color: #fff;
  padding: .4rem 2rem;
  transition: all ease-in-out .5s;
  display: inline-block;
  margin-bottom: 1rem;
}