.form-control:focus {
  box-shadow: initial;
}
.form-control {
  font-size: 1.4rem;
  position: relative;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
*:focus {
  outline: 0;
  box-shadow: initial;
}
a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
button,
button:hover,
button:focus,
input,
input:focus,
.form-control,
.form-control:focus,
.page-link:focus {
  outline: none;
  box-shadow: initial;
}
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: initial;
}
html {
  font-size: 10px;
}
html,
body {
  height: 100%;
}
body {
  font: 500 1.5rem $global_font_body;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  color: $global_color_body;
  letter-spacing: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  overflow-x: hidden;
  // background:#F9F9F9;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $global_font;
  color: $global_color_head;
}
.clearfix {
  clear: both;
}
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px;
  }
}
.no-gutters {
  margin: 0 -8px;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding: 0 8px;
}

// section top //
.section__top {
  margin-top: 5rem;
}
.news__title--lg {
  font-size: 2.8rem;
  font-weight: 600;
}
.news__title--md {
  font-size: 2.4rem;
  font-weight: 600;
}
.news__title--sm {
  font-size: 2rem;
  font-weight: 600;
}
.news__title--xs {
  font-size: 1.8rem;
  font-weight: 600;
}
a {
  color: $global_color_body;
}
.news__link {
  color: $global_color_body;
  @include global-transition();
  &:hover {
    color: $global_color_body;
  }
}

// big image //
.big__img {
  background: #f6f6f6;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #eee;
  p {
    margin-bottom: 0;
    font-size: 1.8rem;
  }
  h2 {
    margin: 1.5rem 0 1rem;
    @include global-transition();
  }
}
.news__link:hover {
  .big__img {
    h2 {
      color: $global_color;
    }
  }
}
// news flex //
.news__flex {
  display: flex;
  flex-direction: row;
  .news__infos {
    flex: 1;
    padding-left: 1.5rem;
    a:hover {
      color: $global_color;
    }
  }
}
.news__img--md {
  figure {
    height: 7rem;
    max-width: 12rem;
    img {
      object-fit: cover;
    }
  }
}
.news__blockList {
  margin-bottom: 1.5rem;
  &:last-child {
    margin-bottom: 0;
  }
}
// title head //
.title__headFlex {
  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
  margin-bottom: 30px;
  padding: 1rem 1rem;
  align-items: center;
  // border-top: 3px solid #bf151b;
  border-bottom: 1px solid #bf151b;
  .news__title {
    h2 {
      font-size: 2.6rem;
      font-weight: 600;
      margin-bottom: 0;
    }
  }
  .read__more {
    margin-left: auto;
  }
}
.btn-1 {
  background: $global_color;
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  &:hover {
    color: #fff;
  }
}
.promo__col {
  margin-bottom: 1.5rem;
}
.news__md {
  figure {
    height: 14rem;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
.news__infos__md {
  h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 2rem;
  }
}
.btm__news__bar {
  margin-top: 3rem;
}
.news__md--1 {
  figure {
    height: 16rem;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
// international news //
.news__text {
  font-size: 1.5rem;
  border-bottom: 1px solid #dcd8d8;
  padding-bottom: 1rem;
  a {
    font-size: 1.8rem;
  }
}
.col__span1:last-child .news__text {
  border-bottom: 0;
}
.news_border {
  border-bottom: 1px solid #dcd8d8;
  padding-bottom: 0.8rem;
}
// trending //
.trending___list {
  padding: 2rem 2rem 1rem;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 40px -12px rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  ul {
    li {
      border-bottom: 1px solid #d8d6d6;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      font-size: 1.7rem;
      position: relative;
      display: flex;
      a {
        flex: 1;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        font-size: 1.8rem;
        &:hover {
          color: $global_color;
        }
      }
      span {
        height: 4rem;
        width: 4rem;
        background: $global_color1;
        line-height: 4rem;
        text-align: center;
        color: #fff;
        display: inline-block;
        margin-right: 1rem;
        font-weight: 700;
      }
    }
  }
}
.trending__news {
  h2 {
    font-weight: 600;
    font-size: 2.4rem;
  }
}
.trending___list ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.side__col {
  background: $global_color;
  padding: 0.8rem;
  text-align: center;
  h3 {
    color: #fff;
    font-size: 2.4rem;
    margin-bottom: 0;
  }
}
// literature //
.commonGutters .row.no-gutters {
  margin: 0 -2px;
}
.commonGutters .no-gutters > .col,
.commonGutters .no-gutters > [class*="col-"] {
  padding: 0 2px;
}
.bigImg {
  /*min-height: 450px;*/
  height: 45rem;
  position: relative;
  overflow: hidden;
}
.smallImg {
  height: 22.4rem;
  position: relative;
  overflow: hidden;
}
.featureBgImg {
  height: 100%;
  width: 100%;
  position: relative;
}
.featureBgInfos {
  position: absolute;
  bottom: 0px;
  /*background: linear-gradient(to top,rgba(0,0,0,.9) 0,rgba(0,0,0,0) 100%);*/
  color: #fff;
  padding: 15px;
  width: 100%;
  z-index: 1;
  transition: all ease 500ms;
}
.featureImg:hover .featureBgInfos {
  bottom: 15px;
}
.featureBgInfos h2 {
  color: #fff;
  font-size: 22px;
  line-height: 25px;
}
.postCategory {
  color: #fff;
  padding: 3px 15px;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.postCategory:hover {
  color: #fff;
}
.featureOverlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    transparent 55%,
    rgba(0, 0, 0, 0.95) 100%
  );
  -webkit-transition: all ease-in-out 0.9s;
  -moz-transition: all ease-in-out 0.9s;
  -o-transition: all ease-in-out 0.9s;
  -ms-transition: all ease-in-out 0.9s;
  transition: all ease-in-out 0.9s;
}
.featureImg {
  cursor: pointer;
}
.featureImg .itemAfter:after {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0;
  transition: all ease 500ms;
}
.featureImg .itemAfter:hover:after {
  opacity: 1;
}
.featureBgInfos {
  h3 {
    font-size: 2.2rem;
    a {
      color: #fff;
      &:hover {
        color: #aff6ff;
      }
    }
  }
  p {
    margin-bottom: 0;
    line-height: 1.5;
  }
  h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    a {
      color: #fff;
      &:hover {
        color: #aff6ff;
      }
    }
  }
}
.thought__list {
  .avatar {
    height: 6rem;
    width: 6rem;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
}
.media__latest--infos {
  flex: 1;
  a {
    font-size: 1.8rem;
    font-weight: 600;
  }
  small {
    font-size: 1.4rem;
  }
}
.thought__list {
  background: #fff;
  box-shadow: 0 0 40px -12px rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  ul {
    padding: 2rem 1rem;
    box-sizing: border-box;
    li {
      border-bottom: 1px solid #ece9e9;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}
.ftImgBtm {
  margin-top: 2px;
}
// technology //
.single_img-2 {
  margin-bottom: 1rem;
  img {
    height: 31rem;
    object-fit: cover;
  }
}
.single--img3 {
  .ftImgBtm {
    margin-top: 0;
  }
  .smallNewsFeature {
    margin-bottom: 2px;
  }
}

// galery //
.gallery__left {
  img {
    height: 32rem;
    object-fit: cover;
    @include global-transition();
  }
  figure {
    position: relative;
    overflow: hidden;
  }
}
.gallery__sub {
  figure {
    margin-bottom: 0.2rem;
    position: relative;
    overflow: hidden;
    img {
      height: 15.9rem;
      object-fit: cover;
      @include global-transition();
    }
  }
}
.gallery__col figure a:hover img {
  @include global-scale();
}
// header //
.logo__header {
  padding: 1.5rem 0;
  .row {
    align-items: center;
  }
}
.logo__right {
  text-align: right;
}
.header__date {
  text-align: right;
  span {
    font-weight: 500;
    font-size: 1.6rem;
  }
}
.menu__header {
  background: #012c71;
  box-sizing: border-box;
}
.xs-menus {
  position: relative;
}
.header__right {
  position: absolute;
  right: 0;
  top: 0;
}
.header__rightFlex {
  display: flex;
  flex-direction: row;
}
.search__icon {
  color: #fff;
  height: 4.9rem;
  width: 4.9rem;
  background: #15a2e2;
  display: inline-block;
  text-align: center;
  line-height: 4.9rem;
  font-size: 2rem;
  &:hover {
    color: #fff;
  }
}
.header__newsLatest {
  a {
    color: #fff;
    height: 4.9rem;
    width: 4.9rem;
    display: inline-block;
    text-align: center;
    line-height: 4.9rem;
    font-size: 3rem;
    &:hover {
      color: #fff;
    }
  }
}
.filterInfos {
  position: absolute;
  width: 100%;
  left: 0;
  background: #fff;
  padding: 2rem 0 0;
  box-sizing: border-box;
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.2);
  border: 1px solid #eee;
  z-index: 9;
  h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
}
.news__latest--list {
  margin-bottom: 3rem;
}

// footer //
.main__footer {
  background: #212329;
  padding: 6rem 0 3rem;
  box-sizing: border-box;
  margin-top: 6rem;
}
.footer__title {
  color: #f2b636;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.company__infos {
  p {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  h4 {
    color: #fff;
    font-size: 1.6rem;
  }
  figure {
    img {
      height: 8rem;
      object-fit: contain;
    }
  }
}
.footer__menu {
  ul {
    li {
      margin-bottom: 0.8rem;
      a {
        color: #fff;
        &:hover {
          text-decoration: underline;
          color: #f2b636;
        }
      }
    }
  }
}
.contactFooter {
  ul {
    li {
      color: #fff;
      p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1.6rem;
      }
    }
  }
}
.post__share {
  margin-left: auto;
  align-items: center;
  i {
    height: 3rem;
    width: 3rem;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 3rem;
    display: inline-block;
  }
}
.la-facebook-f {
  background: #3b5998;
}
.la-twitter {
  background: #00acee;
}
.la-facebook-messenger {
  background: #0084ff;
}
.la-youtube {
  background: #c4302b;
}
.ri-share-line {
  background: #95d03a;
}
.post__share ul li {
  margin-left: 0.5rem;
}
.post__share {
  .post__title__label {
    margin-bottom: 0;
    font-weight: 700;
  }
  ul {
    margin-bottom: 0;
    li {
      margin-left: 0.5rem;
      a {
        @include global-transition();
        position: relative;
        top: 0;
        &:hover {
          opacity: 0.8;
          top: -4px;
        }
      }
    }
  }
}

.btm__flex {
  display: flex;
  font-size: 1.5rem;
  color: #fff;
  p {
    margin-bottom: 0;
  }
  a {
    color: #fff;
  }
}
.bottom__footer {
  border-top: 1px solid #2f323a;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}
.other__infos {
  margin: 1.8rem 0;
}

// back to top //
.btn-scroll-top {
  background: $global_color;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  font-size: 1.5625rem;
  display: block;
  text-align: center;
  line-height: 4rem;
  position: fixed;
  bottom: -4rem;
  right: 30px;
  height: 4rem;
  width: 4rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.btn-scroll-top.active {
  bottom: 4rem;
  opacity: 1;
  visibility: visible;
}
.btn-scroll-top:hover {
  background: $global_color1;
  color: #fff;
}

// search //
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 4.9rem;
  background-color: #3d7ce0;
}

.search_input {
  color: #fff;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 4.9rem;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
  padding: 0 10px;
  width: 30rem;
  caret-color: #fff;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
  background: #fff;
  color: #e74c3c;
}

.search_icon {
  height: 4.9rem;
  width: 4rem;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.search_input::-webkit-input-placeholder {
  color: #fff;
}
// about us //
.single__detail {
  margin-top: 3rem;
  p {
    font-size: 1.8rem;
  }
}
// pagination //
.pagination__wrap {
  margin-top: 3rem;
}
.pagination > li > a.page-link {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  padding: 0;
  margin: 0 5px;
  border: 1px solid #094684;
}
.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.page-item:last-child .page-link {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.page-item.active .page-link {
  background-color: $global_color;
  border-color: $global_color;
}
.pagination > li > a.page-link:hover {
  color: #fff;
  background-color: $global_color1;
  border-color: $global_color1;
}
// nav bar toogel mobile //
.nav-toggle:before {
  background-color: #fff;
  box-shadow: 0 0.5em 0 0 #fff, 0 1em 0 0 #fff;
}
.nav-toggle {
  left: 0;
  right: auto;
}
.xs_nav-portrait .nav-menu {
  height: 100%;
}
.xs_nav-portrait .nav-menu > li {
  border-top: solid 1px #063786;
}
.xs_nav-portrait .nav-menu > li > a {
  padding: 0.8rem 1.5rem;
}
.xs_nav-portrait .nav-menu > li:last-child {
  border-bottom: solid 1px #063786;
}
.nav-menus-wrapper-close-button {
  color: #fff;
}
.xs_nav-portrait .nav-menus-wrapper {
  background-color: #012c71;
}
// live video //
.live__video .global__title {
  font-size: 4rem;
  color: #094684;
  font-weight: 600;
  margin-bottom: 2rem;
}
.live__videoBox iframe {
  width: 100%;
  height: 60rem;
}
.live__videoBox {
  margin-bottom: 3rem;
}

// header youtube //
.videoBar .la-youtube {
  background: transparent;
}
.videoBar a {
  background: #b51f23;
  height: 4.9rem;
  display: inline-block;
  width: 4rem;
  text-align: center;
  line-height: 4.9rem;
  font-size: 2.5rem;
  color: #fff;
}
