// globe font //
$global_font:'Mukta', sans-serif;
$global_font_body:'Mukta', sans-serif;

// globe font //
$global_color:#094684;
$global_color1:#d81a21;
$global_color_body:#212529;
$global_color_head:#424242;
$border_color:#e2e2e2;

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap');