/* 3E52A4 */
.menu__header {
  height: 4.9rem !important;
}
.news__img--md figure img {
  height: 100%;
}
.detail__post__infos iframe {
  width: 100%;
}
.detail__content img {
  max-width: 100%;
}
.nav-menu > li.active > a {
  color: #012c71;
}
.at4-jumboshare .at4-count-container {
  min-width: 60px !important;
  padding-right: 11px !important;
}

.at4-jumboshare .at4-count {
  line-height: 0px !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: #012c71;
}
/*.search_icon {
    background: #3d7ce0;
}*/
@media only screen and (max-width: 767px) {
  .menu__header {
    height: 5.3rem !important;
  }
  .post__share .post__title__label {
    margin-bottom: 10px;
  }
  .post__share {
    align-items: initial;
    flex-direction: column;
  }
  .breakings .item {
    flex-direction: column;
  }
}

.bg_p_dim {
  background: rgba(1, 44, 113, 0.1);
}

.socialwrapper ul {
  list-style: none;
  display: flex;
}
.socialwrapper li {
}
.socialwrapper .icon i {
  height: 30px;
  font-size: 18px;
  width: 30px;
  background: transparent !important;
  line-height: 30px;
  border-radius: 30px;
  color: #3e52a4;
}

.topbar marquee li::after {
  content: -;
}
.topbar {
  background: rgba(1, 44, 113, 0.1);
}
.topbar ul {
  margin-bottom: 0;
}

.menu__header .nav-submenu {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.menu__header .nav-menu li a {
  padding: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.menu__header {
  height: auto !important;
}

.menu__header .header__right {
  display: flex;
  height: 100%;
  align-items: center;
}

.sticky_logo {
  display: none;
}

.stick .sticky_logo {
  display: block !important;
}

.post_reaction {
  padding: 40px;
  background-color: rgb(244, 248, 251);
}

.reaction_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}
.post_reaction_emo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.post_reaction_emo div {
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding-top: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 6px;
  margin: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.reaction_score {
  width: auto;
  display: inline-block;
  position: absolute;
  top: -10px;
  background-color: #0e5dae;
  color: #fff;
  border-radius: 34px;
  padding: 0 9px;
  line-height: 26px;
  font-size: 12px;
}

.emo_title {
  width: auto;
  display: inline-block;
  position: absolute;
  top: 80px;
  color: black;
  line-height: 26px;
  font-size: 15px;
}

.post_reaction_emo img {
  margin-top: 10px;
  max-width: 50px;
  max-height: 50px;
}

.response_section {
  margin-top: 20px;
}
.response_heading {
  background-color: #f4f8fb !important;
  padding: 4px 20px;
}

.response_heading h1 {
  display: inline-block;
  font-size: 38px;
  font-weight: 500;
  color: #0e5dae;
  opacity: 0.7;
}

.response_heading span {
  background-color: transparent;
  line-height: 45px;
  margin-top: -6px !important;
  margin-left: 20px !important;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease;
}

.response_heading span a {
  display: inline-block;
  line-height: 34px;
  padding: 0 15px;
  background-color: rgba(77, 77, 77, 0.08);
  border-radius: 34px;
  font-size: 14px !important;
  color: #0e5dae;
  text-decoration: none;
  vertical-align: top;
}

.response_menu {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
}

.response_menu ul {
  list-style: none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.response_menu ul li {
  position: relative;
  top: 1px;
  display: inline-block;
  margin: 0;
  list-style: none;
}

.menu_active {
  color: #e11b22;
  border-bottom: solid 4px #e11b22;
}

.response_content {
  display: block;
}

.response_content_warp {
  flex-wrap: wrap;
  background-color: #f6f8fa;
  padding: 25px;
  margin-top: 0;
  border-radius: 4px;
  display: flex;
}

.response_content_warp .response_image {
  height: 47px;
  width: 47px;
  min-width: 47px;
  max-width: 47px;
  border-radius: 50%;
  overflow: hidden;
}

.response_content_warp .response_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.response_comment {
  padding-left: 30px;
  width: -webkit-calc(100% - 50px);
}

.response_comment .name {
  font-size: 20px;
  font-weight: 500;
  color: #0e5dae;
  margin-bottom: 10px;
}

.response_comment .date {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.response_comment .comments {
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  padding: 10px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 200%;
}

.response_comment .comments_ftr {
  align-items: center;
  display: flex;
}

.icon_comment {
  display: inline-block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 20px;
}

.icon_comment i {
  font-size: 14px;
  margin-right: 5px;
}

.react_number {
  font-weight: 700;
  font-size: 14px;
  color: #0e5dae;
  margin-right: 5px;
}

.like_warp {
  display: inline-block;
  min-width: 50px;
}

.icon_comment a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.6);
}
.report_comment i {
  color: #e11b22;
}

.response_comment a:hover {
  color: #0e5dae;
}

.reply_button {
  font-weight: 600;
  color: #0e5dae;
  margin-left: auto;
  font-size: 15px !important;
  margin-right: 5px;
  background-color: #e7edf4 !important;
  display: inline-block;
  line-height: 34px;
  padding: 0 25px;
  border-radius: 34px;
  transition: all 0.4s ease;
}

.frm_row {
  margin-bottom: 15px;
}

.emoji_reaction:hover {
  animation: bounce 1s linear;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(-2px);
  }
}

@media only screen and (max-width: 600px) {
  .post_reaction_emo {
    justify-content: flex-start;
  }
}


.prv_next_news{
  display: flex;
  justify-content: space-between;
}

.prv_next_news a{
 font-size: 20px;
 color: #0e5dae;
}

.prv_next_news a:hover{
text-decoration: underline;
}

.response_reply{
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 18%) 0 0 18px;
    padding: 25px;
    position: relative;
    margin-top: 15px;
    flex: 0 0 100%;
}

.response_reply::before{
  content: '';
    position: absolute;
    top: -28px;
    right: 58px;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent #fff transparent;
}
.comment_close{
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
}



.comment_form_row{
  margin-bottom: 15px;
}

.comment_form_row .form-input{
    height: 44px;
    line-height: 44px;
    padding: 0 10px;
    border: solid 1px rgba(0,0,0,.06);
    background-color: rgba(0,0,0,.06);
    font-size: 14px;
    width: 100%;
    border-radius: 2px;
}

.comment_form_row .form-textarea{
  height: 100px;
  line-height: 44px;
  padding: 0 10px;
  border: solid 1px rgba(0,0,0,.06);
  background-color: rgba(0,0,0,.06);
  font-size: 14px;
  width: 100%;
  border-radius: 2px;
}

.comment-submit-btn{
    display: inline-block;
    line-height: 34px;
    padding: 0 25px;
    border-radius: 34px;
    transition: all .4s ease;
    text-decoration: none;
    background-color: #0e5dae!important;
    color: #fff!important;
    
}

.comment_section{
    background-color: #f6f8fa;
    padding: 25px;
    position: relative;
    flex: 0 0 100%;
}

.janamat_section{
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.06);
}